@import "transitions.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
}

* {
    @apply outline-none focus:outline-none active:outline-none;
}

.c-toast {
    font-family: inherit !important;
    @apply rounded select-none shadow-lg !important;
}

/* Tailwind components */
.nav-button {
    @apply bg-gray-600 dark:bg-gray-400 bg-opacity-10
    text-gray-500 hover:text-gray-900 dark:hover:text-white font-bold text-center
    p-2
    rounded shadow
    outline-none focus:outline-none transform;
}

.nav-button-active {
    @apply text-gray-900 dark:text-white;
}

.nav-button:active {
    @apply translate-y-0.5;
}

input {
    @apply px-2 py-2 placeholder-gray-400 text-gray-700 dark:text-gray-400 relative
    bg-white dark:bg-gray-600 rounded text-sm shadow outline-none
    focus:outline-none focus:shadow-md w-full disabled:opacity-40;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-size: 1.5em 1.5em;
    -webkit-print-color-adjust: exact;
    @apply block w-full py-2 px-3 border border-gray-200 bg-white dark:bg-gray-600 dark:border-gray-800 rounded-md shadow-sm focus:outline-none sm:text-sm appearance-none pr-9 bg-no-repeat;
}

input.checkbox {
    @apply relative w-12 h-6 mr-3 transition-all duration-200 ease-in-out bg-gray-200 dark:bg-gray-500 rounded-full shadow-inner outline-none appearance-none;
}

input.checkbox:before {
    content: '';
    @apply absolute rounded-full -top-0.5 left-0 bg-gray-50 dark:bg-gray-400 cursor-pointer shadow-md duration-200 ease-in-out transform scale-100 h-7 w-7 border border-gray-200 dark:border-gray-500;
}

input.checkbox:checked {
    @apply bg-green-500;
}

input.checkbox:checked:before {
    @apply left-5;
}

code {
    @apply block w-full my-4 bg-gray-700 dark:bg-gray-800 text-gray-200 dark:text-gray-300 rounded p-4;
}

.list-item {
    @apply flex text-gray-700 dark:text-gray-300 bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer transform active:translate-y-0.5 border-t border-gray-100 dark:border-gray-700 active:shadow-inner;
}
